{% extends "base.html" %}

{% block title %}
{{user.first_name}}
{% endblock %}

{% block body %}
 <div id="jobs">
   <h3>Jobs</h3>
        <table id="jobs_table">
            {% for job in jobs %}
            <tr>
                <td><a href="{% url job_detail job_id=job.job_id %}">{{job.job_id}}</a></td>
            </tr>
            {% endfor %}
        </table>
</div>
<div id="main">
    {% if request.session.error %}
    {{ request.session.error }}
    {% endif %}
    <p>
    <form action="/submit_job/" method="post" id="jobform">
        {% csrf_token %}
        <table>
            {{ job_form.as_table }}
            <tr><td></td>
                <td align="right"><input type="submit" value="submit job" class="bn"/></td></tr>
        </table>
    </form></p>
</div>
<!--
<script src="/static/src/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/src/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/src/ace.js" type="text/javascript" charset="utf-8"></script>
-->
<script type="text/javascript"> 
    window.onload = function(){
        /*var func_editor = ace.edit("func_editor");
        func_editor.setTheme("ace/theme/twilight");
        var JavaScriptMode = require("ace/mode/javascript").Mode;
        editor.getSession().setMode(new JavaScriptMode());*/
        
    };
</script>
{% endblock %}

