{% extends "base.html" %}

{% block title %}
Job Detail
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/shCore.css" />
<link rel="stylesheet" type="text/css" href="/static/css/shThemeMidnight.css" />
{% endblock %}

{% block body %}
<div id="main">
    <div>
        <strong>Job ID</strong> <br />
        <pre>
    <span class="jid">{{job.job_id}}</span>
        </pre>
    </div>
    <div>
        <strong>Function</strong> <br />
        <pre class="brush: js" id="funcbody">{{job.job.func}}</pre>
    </div>
    <div>
        <strong>Passed-in context</strong>
        <pre class="brush: js">
            // format:JSON
            {{job.job.ctx}}
        </pre>
    </div>
    <table class="job_result" cellspacing="0">
                    <tr>
                        <th>Argument{{arc.0.0|pluralize}}</th> <th>Result</th> <th>Resultant context</th>
                    </tr>
                    {% for a in arc %}
                    <tr>
                        <td align="right">
                            ({{ a.0|join:"," }})
                        </td>
                        <td align="right">
                            <code>
                            {% if a.1 %}
                            {{ a.1 }}
                            {% else %}
                            undefined
                            {% endif %}
                            </code>
                        </td>
                        <td align="right">
                            {{ a.2 }}
                        </td>
                    </tr>
                    {% endfor %}
    </table>
</div>
<script type="text/javascript" src="/static/js/shCore.js"></script>
<script type="text/javascript" src="/static/js/shBrushJScript.js"></script>
<script>
    SyntaxHighlighter.all();
</script>
{% endblock %}

